.selectContainer {
  margin: 24px 0;
  position: relative;
  max-width: 260px;
  width: 100%;
}

.customSelect {
  position: relative;
  width: 100%;
  border: 2px solid #2a59fe;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.selectValue {
  padding: 10px;
  font-size: 16px;
  flex-grow: 1;
}

.selectArrow {
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease, top 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
}

.arrowUp {
  transform: translateY(-50%) rotate(180deg);
  top: calc(50% + 2px);
}

.optionList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 2px solid #2A59FE;
  border-radius: 4px;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  box-sizing: border-box;
  
}

.optionItem {
  padding: 10px;
  cursor: pointer;
}

.optionItem:hover {
  background-color: #f0f0f0;
}
.selectElement:disabled {
	cursor: not-allowed;
	background-color: #e6e6e6;
	border-color: #a9a9a9;
  }
  
  .selectElement option {
	padding: 10px;
	font-size: 16px;
  }
  .selectElement {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #2a59fe;
	border-radius: 4px;
	appearance: none;
	background-color: #fff;
	cursor: pointer;
	box-sizing: border-box;
  }