.checkbox {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	margin-right: 10px; 
	cursor: pointer;
	font-size: 22px;
	user-select: none;
  
	input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}
  
	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 28px;
	  width: 28px;
	  background-color: #fff;
	  border: 2px solid #ccc;
	  border-radius: 4px;
	  margin: 20px 0;
	  
	  &:after {
		content: "";
		position: absolute;
		display: none;
		left: 10px;
		top: 6px;
		width: 6px;
		height: 12px;
		border: solid white;
		border-width: 0 3px 3px 0;
		transform: rotate(45deg);
	  }
	}
  
	input:checked ~ .checkmark {
	  background-color: #007bff;
	  border-color: #007bff;
  
	  &:after {
		display: block;
	  }
	}
  
	&.checked {
	  .checkmark {
		background-color: #007bff;
		border-color: #007bff;
  
		&:after {
		  display: block;
		}
	  }
	}
  
	&.disabled {
	  cursor: not-allowed;
	  .checkmark {
		background-color: #e6e6e6 !important; 
		border-color: #a9a9a9 !important;
  
		input:checked ~ & {
		  background-color: #a9a9a9 !important;
		  border-color: #a9a9a9 !important;
  
		  &:after {
			border-color: white; 
		  }
		}
	  }
	}
  }
  