.tooltipContainer {
	width: 100%;
	max-width: 260px;
  }
  
  .tooltipText {
	width: 100%;
	max-width: 260px;
	background-color: #fff;
	color: #555;
	text-align: center;
	border-radius: 4px;
	padding: 5px 0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  